{% extends 'base.html.twig' %}

{% block title %}New Quack{% endblock %}

{% block body %}
    {% if (quack.parent) %}
        <h1>Create new Comment</h1>
    {% else %}
        <h1>Create new Quack</h1>
    {% endif %}
    {{ include('quack/_form.html.twig') }}


{% endblock %}
